@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 142 76% 36%;
    --primary-foreground: 355 100% 100%;
    --secondary: 142 76% 96%;
    --secondary-foreground: 142 76% 36%;
    --muted: 142 10% 96%;
    --muted-foreground: 142 10% 40%;
    --accent: 142 76% 96%;
    --accent-foreground: 142 76% 36%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 142 10% 90%;
    --input: 142 10% 90%;
    --ring: 142 76% 36%;
    --radius: 1rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 142 76% 36%;
    --primary-foreground: 355 100% 100%;
    --secondary: 142 76% 10%;
    --secondary-foreground: 142 76% 96%;
    --muted: 142 10% 15%;
    --muted-foreground: 142 10% 70%;
    --accent: 142 76% 10%;
    --accent-foreground: 142 76% 96%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 142 10% 15%;
    --input: 142 10% 15%;
    --ring: 142 76% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1 {
    @apply text-3xl font-bold md:text-4xl;
  }
  h2 {
    @apply text-2xl font-bold md:text-3xl;
  }
  h3 {
    @apply text-xl font-bold md:text-2xl;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding-right: 0 !important;
  margin-right: 0 !important;
  overflow: auto !important;
  pointer-events: auto !important;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
